@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#squares {
    padding: 16px 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#squares div {
    margin: 10px;
}

body {
    padding: 32px 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 12px;
    margin-bottom: 16px;
}

ul {
    margin-top: 12px;
    margin-bottom: 16px;
}

li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.aprovado {
    background-color: green;
    color: white;
    padding: 10px;
}

.naoaprovado {
    background-color: red;
    color: white;
    padding: 10px;
}